#title-input{
    width: 50px;
}

textarea{
    resize: none;
}
.number-input{
    width: 36px;
}

.date-input{
    width: 68px;
}

#anime-info-row{
    background: #F4F4F4;
    font-size: 18px;
    font-family: 'Segoe UI'
}

.date-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 10px;
}

.date-input::-moz-placeholder { /* Firefox 19+ */
    font-size: 10px;
}

.date-input:-ms-input-placeholder { /* IE 10+ */
    font-size: 10px;
}

.date-input:-moz-placeholder { /* Firefox 18- */
    font-size: 10px;
}
  
#cover-filler{
    width: 25px;
}

#personalThoughts{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#personalThoughts:hover {
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}
@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI.woff") format('woff');
}
