#title-input{
    width: 50px;
}

textarea{
    resize: none;
}
.number-input{
    width: 36px;
}

.date-input{
    width: 110px;
}

.anime-info-row{
    background: #F4F4F4;
    font-size: 18px;
    font-family: 'Segoe UI'
}

.date-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 9px;
}

.date-input::-moz-placeholder { /* Firefox 19+ */
    font-size: 9px;
}

.date-input:-ms-input-placeholder { /* IE 10+ */
    font-size: 9px;
}

.date-input:-moz-placeholder { /* Firefox 18- */
    font-size: 9px;
}
  
#cover-filler{
    width: 25px;
}

#personalThoughts{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#personalThoughts:hover {
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}

.first-row-td{
    padding-top: 35px;
}

.anime-table-data{
    padding-bottom: 20px;
}

textarea{
    width: 100%;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI.woff");
}

.react-datepicker__input-container input{
    width: 90px;
}

.save-edit-link{
    cursor: pointer;
    color:blue;
    text-decoration:underline;
    padding-bottom: 20px;
}

#delete-checkbox{
    padding-bottom: 20px;
}