#signup-form{
    height: 400px;
    width: 400px;
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.signup-input{
    margin: 0 auto;
    border: none;
    height: 35px;
    /* width: 300px; */
    width: 100%;
    border-radius: 10px;
}

#email-input-signup{
    height: 50px;
}

#email-input-signup label{
    display: block;
}

#username-input-signup label{
    display: block;
}

#username-input-signup input{
    display: block;
}

#password-input-signup label{
    display: block;
}

#password-input-signup input{
    display: block;
}

.signup-input-divs{
    margin: 15px;
}

#signup-submit-button{
    width: 80px;
    height: 30px;
    margin: 0 auto;
}

#signup-whole-page-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-link1{
    display: inline;
}

.login-link{
    text-decoration: underline;
    color: black;
}

#signup-success-message{
    font-size: 48px;
}